.mat-sidenav-container {
    display: flex;
  }

.sidenav {
    width: 200px;
    display: flex;
    position: fixed;
    margin-top: 64px;
}

.nav-list{
  display: flex;
  flex-direction: column;
  padding-inline: 5px;
}

.nav-icon{
    align-self: center;
    justify-self: center;
}

.nav-items{
    margin-top: 10px;
    width: 100%;
}

.active{/* adicionar ao estar na página */
    background-color: #3f51b5 !important;
    color: #FFF !important;
}

.nav-items:hover{
    scale: 1.02;
}

.content{
    padding: 1rem;
    padding-top: 5rem;
    flex: 1;
    justify-content: center;
}




