<mat-drawer-container class="container">
	<mat-drawer mode="side" class="sidenav" mode="side" opened>
		<mat-list class="nav-list">
			<div mat-list-item routerLink="/" class="nav-items" >
				<a mat-raised-button routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
					<mat-icon class="nav-icon">
						face
					</mat-icon>
					<span *ngIf="!isMobile">Usuários</span>
				</a>
			</div>
			<div mat-list-item routerLink="/posts" class="nav-items" >
				<a mat-raised-button routerLinkActive="active">
					<mat-icon class="nav-icon">
						chat
					</mat-icon>
					<span *ngIf="!isMobile">Postagens</span>
				</a>
			</div>
			<div *ngIf="!isMobile">
				<img src="../../../assets/paytech-removebg-preview.png">
			</div>
		</mat-list>
	</mat-drawer>
	<mat-drawer-content class="content">
  		<router-outlet></router-outlet>   
	</mat-drawer-content>
</mat-drawer-container>
