<div class="modal">
    <a mat-mini-fab class="button-close"><mat-icon class="close-icon" (click)="'showModalDelete()'">clear</mat-icon></a>
        <h2>Digite o id do usuário que deseja deletar:</h2>
        <div class="controllers-delete">
            <mat-form-field class="input-delete">
                <mat-label>id do Usuário</mat-label>
                <input matInput type="text" class="mat-input-element" placeholder="Ex. 1585660">
            </mat-form-field>
            <a mat-mini-fab class="button-delete" color="warn"><mat-icon>delete_sweep</mat-icon></a>
        </div>
</div>
<div class="overlay"></div>