<app-users></app-users>
<div class="modal-create">
    <a class="exit-button" (click)="exit()"><mat-icon>clear</mat-icon></a>
    <h1 class="title">Edição de Usuário</h1>

    <div class="content">
        <mat-form-field>
            <mat-label>Nome do usuário</mat-label>
            <input matInput type="text" [(ngModel)]="data.name" class="mat-input-element" [formControl]="nameControl">
            <mat-error *ngIf="nameControl.invalid">{{getErrorMessage(nameControl)}}</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput type="text" [(ngModel)]="data.email" class="mat-input-element" [formControl]="emailControl">
            <mat-error *ngIf="emailControl.invalid">{{getErrorMessage(emailControl)}}</mat-error>
        </mat-form-field>

        <mat-form-field class="">
            <mat-label>Gênero:</mat-label>
            <mat-select [(ngModel)]="data.gender">
            <mat-option value="male" (click)="data.gender = 'male'">Masculino</mat-option>
            <mat-option value="female" (click)="data.gender = 'female'">Feminino</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="">
            <mat-label>Status:</mat-label>
            <mat-select [(ngModel)]="data.status">
            <mat-option value="active" (click)="data.status = 'active'">Ativo</mat-option>
            <mat-option value="inactive" (click)="data.status = 'inactive'">Inativo</mat-option>
            </mat-select>
        </mat-form-field>

        <button mat-raised-button class="submit-button" (click)="updateUser()" [disabled]="emailControl.invalid || nameControl.invalid || data.gender == '' || data.status == ''">Cadastrar</button>
    </div>

</div>
<div class="overlay" (click)="exit()"></div>
