<mat-sidenav-container class="container">
	<mat-sidenav mode="side" opened class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
		<mat-nav-list class="nav-list">
			<div mat-list-item><a mat-raised-button class="nav-items"><mat-icon class="nav-icon">face</mat-icon>Usuários</a></div>
			<div mat-list-item  matBadgeColor="accent"><a mat-raised-button class="nav-items" [matBadge]="badges"><mat-icon class="nav-icon">chat</mat-icon>Postagens</a></div>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content class="content">
		<app-users></app-users>
	</mat-sidenav-content>
</mat-sidenav-container>