<mat-card class="card-container">
    <mat-card-content class="card-content">
        <span class="title">Usuários</span>

        <a mat-mini-fab class="add"><mat-icon><b>add</b></mat-icon></a>

        <mat-card class="card-container-inside">
            <mat-card-content class="card-content-inside">
                
                <!-- Tabela Lista os usuários enviados pela api -->
                <table mat-table [dataSource]="dados" class="mat-elevation-z8">

                  <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> Id </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                  </ng-container>
                
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                  </ng-container>
                
                  <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> Email </th>
                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                  </ng-container> 

                  <ng-container matColumnDef="gender">
                    <th mat-header-cell *matHeaderCellDef> Gênero </th>
                    <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
                  </ng-container>
                
                  <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                  </ng-container>
                
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                
                  
                  

            </mat-card-content>
        </mat-card>
        
    </mat-card-content>
</mat-card>