<div class="modal-create">
    <a class="exit-button" (click)="this.exitCreate.emit()"><mat-icon>clear</mat-icon></a>
    <h1 class="title">Cadastro de Usuário</h1>

    <div class="content">
        <mat-form-field>
            <mat-label>Nome do usuário</mat-label>
            <input matInput type="text" [(ngModel)]="data.name" class="mat-input-element" [formControl]="nameControl">
            <mat-error *ngIf="nameControl.invalid">{{getErrorMessage(nameControl)}}</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput type="text" [(ngModel)]="data.email" class="mat-input-element" [formControl]="emailControl">
            <mat-error *ngIf="emailControl.invalid">{{getErrorMessage(emailControl)}}</mat-error>
        </mat-form-field>

        <mat-form-field class="">
            <mat-label>Gênero:</mat-label>
            <mat-select>
            <mat-option value="male" (click)="data.gender = 'male'">Masculino</mat-option>
            <mat-option value="female" (click)="data.gender = 'female'">Femenino</mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button class="submit-button" (click)="newUser()" [disabled]="emailControl.invalid || nameControl.invalid || data.gender == ''">Cadastrar</button>
    </div>
    
</div>
<div class="overlay" (click)="this.exitCreate.emit()"></div>
