.modal-create{
    display: flex;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px #333;
    width: 500px;
    height: 500px;
    position: fixed;
    left: 50%;
    padding: 24px;
    top: 50%;
    transform: translate(-25%, -50%);
    z-index: 13;
    flex-direction: column;
    padding: 2rem;
  }

.overlay {
    background: #000;
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 12;
}

input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
  
}
input[type=number] { 
 -moz-appearance: textfield;
 appearance: textfield;
}
